.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav a {
    padding: 6px 10px;
}

.nav a:hover {
    text-decoration: underline;
}

.instagram {
    background: url('@assets/instagram.svg') no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    padding: 0;
    margin: 0 10px;
}

.title {
    font-size: 20px;
    color: #FC7C01;
}