.container {
    padding: 20px 50px;
}

.title {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .container {
        padding: 20px;
    }

    .title {
        font-size: 40px;
    }
}