.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin-bottom: -75px;
    z-index: 1;
}

.scrollDown {
    background: url('@assets/arrow-down.svg') no-repeat;
    width: 65px;
    height: 65px;
    border: none;
    margin-top: -70px;
}